<h1>{{ name }}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizeName }}</dd>
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  class="btn btn-primary mx-2"
  (click)="changeHero()">
  Cambiar nombre
</button>
<button
*ngIf="age !== 37"
(click)="changeAge()"
class="btn btn-primary mr-2">
Cambiar edad
</button>
<button
*ngIf="name === 'Spiderman'"
(click)="resetForm()"
class="btn btn-primary">
Reset formulario
</button>
